<div class="oj-flex oj-flex-items-pad" >
<div class="oj-panel oj-panel-alt1" style="height: 150px; width: 1200px;margin: 5px 0px 10px 0px;">
               
<table><tr><td>         <div class="oj-sm-4">
			      <img class="demo-circular demo-employee-photo" alt="Skull" src="css/images/cars/skull-car.jpg"/>                       </div>
                            </td><td style="width: 400px"><div class="oj-sm-8">
                              <h2 class="demo-employee-name" aria-label="employee name" tabindex="0">Skull</h2>                               
             			<!-- <div id="corredor1" class="demo-employee-title" data-bind="text: $data['carrera_actual.corredor1']"></div> -->
                                <div id="skull_laptime" class="demo-employee-title"> Tiempo de Vuelta: 0</div>
                                <div id="skull_best_laptime" class="demo-employee-title"> Mejor Vuelta: 0</div>
                                               </div>
                        </div>
</td><td>                            
<div id='gauge-container1' class="oj-sm-4 oj-flex-item">
       <div id="gauge1" title="Value: 50<br>Max: 100"
       data-bind="ojComponent: {
         component: 'ojDialGauge',
         value: gaugeValue1,
         readOnly: false,
         animationOnDisplay: 'auto',
         animationOnDataChange: 'auto',
         indicator: 'needleAlta',
		 optionChange: updateTitle,
         background: 'circleAlta',
         metricLabel: {rendered: 'on',
         style: 'font-size: 18px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'}
        }"
        style="width:100px;height:100px">
    </div>
 </div>
</div> 
</td><td><div id='sparkChart-container1'>
   <div style="float:left;line-height:60px;width:150px;font-weight:bold;padding-left:10px">
        Velocidad 
   </div>
   <div title="Historial Carrera" data-bind="ojComponent: {
            component: 'ojSparkChart', 
            type: 'lineWithArea', 
            color: lineWithAreaColor,
            items: sparkValues1,
            lineType: 'curved'
        }" 
         style="max-width:560px;width:100%;height:80px;float:left;">
   </div>
    <br style="clear:left;"/>
</div></td></tr></table></div>
<!-- Ground Shock -->    
<div class="oj-panel oj-panel-alt1" style="height: 150px; width: 1200px;margin: 5px 0px 10px 0px;">
               
<table><tr><td>         <div class="oj-sm-4">
			      <img class="demo-circular demo-employee-photo" alt="Ground Shock" src="css/images/cars/groundshock-car.jpg"/>                       </div>
                            </td><td style="width: 400px"><div class="oj-sm-8">
                              <h2 class="demo-employee-name" aria-label="employee name" tabindex="0">Ground Shock</h2>                               
                               <!-- <div id="corredor2" class="demo-employee-title" data-bind="text: $data['carrera_actual.corredor2']"></div> -->
                                <div id="ground_shock_laptime" class="demo-employee-title"> Tiempo de Vuelta: 0</div>
                                <div id="ground_shock_best_laptime" class="demo-employee-title"> Mejor Vuelta: 0</div>
                             </div>
                        </div>
</td><td>                            
<div id='gauge-container2' class="oj-sm-4 oj-flex-item">
       <div id="gauge2" title="Value: 50<br>Max: 100"
       data-bind="ojComponent: {
         component: 'ojDialGauge',
         value: gaugeValue2,
         readOnly: false,
         animationOnDisplay: 'auto',
         animationOnDataChange: 'auto',
         indicator: 'needleAlta',
		 optionChange: updateTitle,
         background: 'circleAlta',
         metricLabel: {rendered: 'on',
         style: 'font-size: 18px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'}
        }"
        style="width:100px;height:100px">
    </div>
 </div>
</div> 
</td><td><div id='sparkChart-container2'>
   <div style="float:left;line-height:60px;width:150px;font-weight:bold;padding-left:10px">
        Velocidad 
   </div>
   <div title="Historial Carrera" data-bind="ojComponent: {
            component: 'ojSparkChart', 
            type: 'lineWithArea', 
            color: lineWithAreaColor,
            items: sparkValues2,
            lineType: 'curved'
        }" 
         style="max-width:560px;width:100%;height:80px;float:left;">
   </div>
    <br style="clear:left;"/>
</div></td></tr></table></div>


</div>
<!-- Guardian -->
<div class="oj-panel oj-panel-alt1" style="height: 150px; width: 1200px;margin: 5px 0px 10px 0px;">
               
<table><tr><td>         <div class="oj-sm-4">
			      <img class="demo-circular demo-employee-photo" alt="Guardian" src="css/images/cars/guardian-car.jpg"/>                       </div>
                            </td><td style="width: 400px"><div class="oj-sm-8">
                              <h2 class="demo-employee-name" aria-label="employee name" tabindex="0">Guardian</h2>                               
			       <!-- <div id="corredor3" class="demo-employee-title" data-bind="text: $data['carrera_actual.corredor3']"></div> -->
                                <div id="guardian_laptime" class="demo-employee-title"> Tiempo de Vuelta: 0</div>
                                <div id="guardian_best_laptime" class="demo-employee-title"> Mejor Vuelta: 0</div>
                                                    </div>
                        </div>
</td><td>                            
<div id='gauge-container3' class="oj-sm-4 oj-flex-item">
       <div id="gauge3" title="Value: 50<br>Max: 100"
       data-bind="ojComponent: {
         component: 'ojDialGauge',
         value: gaugeValue3,
         readOnly: false,
         animationOnDisplay: 'auto',
         animationOnDataChange: 'auto',
         indicator: 'needleAlta',
		 optionChange: updateTitle,
         background: 'circleAlta',
         metricLabel: {rendered: 'on',
         style: 'font-size: 18px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'}
        }"
        style="width:100px;height:100px">
    </div>
 </div>
</div> 
</td><td><div id='sparkChart-container3'>
   <div style="float:left;line-height:60px;width:150px;font-weight:bold;padding-left:10px">
        Velocidad 
   </div>
   <div title="Historial Carrera" data-bind="ojComponent: {
            component: 'ojSparkChart', 
            type: 'lineWithArea', 
            color: lineWithAreaColor,
            items: sparkValues3,
            lineType: 'curved'
        }" 
         style="max-width:560px;width:100%;height:80px;float:left;">
   </div>
    <br style="clear:left;"/>
</div></td></tr></table></div>            

<!-- Thermo -->
<div class="oj-panel oj-panel-alt1" style="height: 150px; width: 1200px;margin: 5px 0px 10px 0px;">
               
<table><tr><td>         <div class="oj-sm-4">
			      <img class="demo-circular demo-employee-photo" alt="Thermo" src="css/images/cars/thermo-car.jpg"/>                       </div>
                            </td><td style="width: 400px"><div class="oj-sm-8">
                              <h2 class="demo-employee-name" aria-label="employee name" tabindex="0">Thermo</h2>                               
				<!-- <div id="corredor4" class="demo-employee-title" data-bind="text: $data['carrera_actual.corredor4']"></div> -->
                                <div id="thermo_laptime" class="demo-employee-title"> Tiempo de Vuelta: 0</div>
                                <div id="thermo_best_laptime" class="demo-employee-title"> Mejor Vuelta: 0</div>
                                                             </div>
                        </div>
</td><td>                            
<div id='gauge-container4' class="oj-sm-4 oj-flex-item">
       <div id="gauge1" title="Value: 50<br>Max: 100"
       data-bind="ojComponent: {
         component: 'ojDialGauge',
         value: gaugeValue4,
         readOnly: false,
         animationOnDisplay: 'auto',
         animationOnDataChange: 'auto',
         indicator: 'needleAlta',
		 optionChange: updateTitle,
         background: 'circleAlta',
         metricLabel: {rendered: 'on',
         style: 'font-size: 18px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'}
        }"
        style="width:100px;height:100px">
    </div>
 </div>
</div> 
</td><td><div id='sparkChart-container4'>
   <div style="float:left;line-height:60px;width:150px;font-weight:bold;padding-left:10px">
        Velocidad 
   </div>
   <div title="Historial Carrera" data-bind="ojComponent: {
            component: 'ojSparkChart', 
            type: 'lineWithArea', 
            color: lineWithAreaColor,
            items: sparkValues4,
            lineType: 'curved'
        }" 
         style="max-width:560px;width:100%;height:80px;float:left;">
   </div>
    <br style="clear:left;"/>
</div></td></tr></table></div>