<div>
<p style="font-weight:bold;text-align:center;">
  Actividad en las redes sociales
</p>
<iframe src="css/images/sitio/twitter.html" height="700" width="700" style="border:none;"></iframe>
<!--
<table><tr><td><div>  
</div>
</td><td valign="top"><div id='tagcloud1' data-bind="ojComponent:{
    component: 'ojTagCloud',
            layout: 'cloud',
            items: tags
    }" 
     style="max-width:800px;height:300px;margin-left:auto;margin-right:auto;">
</div>
</td></tr></table> 
-->         
</div>